@import '../../styles/variables.scss';
@import '../../styles/font.scss';

.skills {
  position: relative;
  width: 533px;
  height: 533px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100%);
    height: calc(100%);
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid $grayColor;
  }
  &__circles {
    
    position: absolute;
    z-index: 1;
    top: -10px;
    left: calc(50%);
    height: 50%;
    transform-origin: 7% 104%;

    @for $i from 2 through 29 {
      $plusDeg: -12.85deg + (12.85deg)*$i;
      $minusDeg: 12.85deg + (-12.85deg)*$i;
      &:nth-child(#{$i}) {
        transform: rotate($plusDeg);
        & .skills__text {
          transform: rotate($minusDeg);
          @if $i>5 {
            left: -10px;
            top: -45px;
          }
          @if $i == 5 {
            top: -52px;
            left: 0px;
          }

          @if $i == 8 {
            top: -60px;
            left: -36px;
          }
          @if $i>15 {
            left: -17px;
          }
        }
        & .skills__textActive {
          transform: rotate($minusDeg);
          @if $i>5 {
            left: -10px;
            top: -45px;
          }
          @if $i == 5 {
            top: -52px;
            left: 0px;
          }

          @if $i == 8{
            top: -60px;
            left: -36px;
          }
          @if $i>15 {
            left: -17px;
          }
        }
      }
    }
  }
  &__item {
    @include circleStyle($disabledCircle);
    transition: .3s;
  }
  &__itemActive {
    @include circleStyle($activeCircle);
    transition: .3s;
  }
  &__text {
    @include textStyle($grayColor, -35px);
    transition: .3s;
  }
  &__textActive {
    @include textStyle($textMain, -35px);
    transition: .3s;

  }
  &__jobs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes lines {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
  &__line {
    position: relative;
    top: 0;
    left: 12px;
    width: 3px;
    height: 100%;
    z-index: -1;
    animation: lines;
    animation-duration: 1s;
    &_main{
        position: absolute;
        top: -2px;
        width: 100%;
        height: 100%;
        background: $activeCircle;
        z-index: 0;
        transform-origin: 7% 0%;
        height: 50%;
    }
    &_others {
      position: absolute;
      top: -2px;
      width: 100%;
      height: 100%;
      background: $otherLine;
      z-index: -1;
      transform-origin: 7% 0%;
      height: 50%;
    }
  }
  &__border {
    position: absolute;
    @include circleStyle(#fff);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $activeCircle;
    top: -4px;
    left: -4px;
    z-index: -1;
    animation-name: animate;
    animation-duration: .3s;
  }
}

.blank {
  display: none;
}